sudo: true
dist: trusty
language: python
python:
  - "3.5"
services:
  - docker

jobs:
  allow_failures:
    - name: "Ubuntu 18.04.sudo.mpich [Job failure permitted]"
    - name: "Ubuntu 16.04 home PETSc [Job failure permitted]"
    - name: "[16.04 PETSc] OpenFOAM <-> CalculiX [FSI]"

  include:
    - stage: Building preCICE
      name: "Arch Linux"
      if: fork = false
      script:
        - docker build -f precice/Dockerfile.Arch -t $DOCKER_USERNAME/precice-arch-develop .
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: >-
          echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin &&
          docker push $DOCKER_USERNAME/precice-arch-develop:latest

    - stage: Building preCICE
      name: "Ubuntu 16.04 home"
      if: fork = false
      script:
        - docker build -f precice/Dockerfile.Ubuntu1604.home -t $DOCKER_USERNAME/precice-ubuntu1604.home-develop .
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: >-
          echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin &&
          docker push $DOCKER_USERNAME/precice-ubuntu1604.home-develop:latest

    - stage: Building preCICE
      name: "Ubuntu 16.04 home PETSc [Job failure permitted]"
      if: fork = false
      script:
        - >
          docker build -f precice/Dockerfile.Ubuntu1604.home -t $DOCKER_USERNAME/precice-ubuntu1604.home.petsc-develop .
          --build-arg petsc_para=yes
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: >-
          echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin &&
          docker push $DOCKER_USERNAME/precice-ubuntu1604.home.petsc-develop:latest

    - stage: Building preCICE
      name: "Ubuntu 16.04.sudo"
      if: type = cron
      script:
        - docker build -f precice/Dockerfile.Ubuntu1604.sudo -t $DOCKER_USERNAME/precice-ubuntu1604.sudo-develop .
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: >-
          echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin &&
          docker push $DOCKER_USERNAME/precice-ubuntu1604.sudo-develop:latest

    - stage: Building preCICE
      name: "Ubuntu 16.04.package"
      if: type = cron
      script:
        - docker build -f precice/Dockerfile.Ubuntu1604.package -t $DOCKER_USERNAME/precice-ubuntu1604.package-develop .
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: >-
          echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin &&
          docker push $DOCKER_USERNAME/precice-ubuntu1604.package-develop:latest

    - stage: Building preCICE
      name: "Ubuntu 18.04.home"
      if: fork = false
      script:
        - docker build -f precice/Dockerfile.Ubuntu1804.home -t $DOCKER_USERNAME/precice-ubuntu1804.home-develop .
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: >-
          echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin &&
          docker push $DOCKER_USERNAME/precice-ubuntu1804.home-develop:latest

    - stage: Building preCICE
      name: "Ubuntu 18.04.sudo"
      if: type = cron
      script:
        - docker build -f precice/Dockerfile.Ubuntu1804.sudo -t $DOCKER_USERNAME/precice-ubuntu1804.sudo-develop .
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: >-
          echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin &&
          docker push $DOCKER_USERNAME/precice-ubuntu1804.sudo-develop

    - stage: Building preCICE
      name: "Ubuntu 18.04.sudo.mpich [Job failure permitted]"
      if: type = cron
      script:
        - docker build -f precice/Dockerfile.Ubuntu1804.sudo.mpich -t $DOCKER_USERNAME/precice-ubuntu1804.sudo.mpich-develop .
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: >-
          echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin &&
          docker push $DOCKER_USERNAME/precice-ubuntu1804.sudo.mpich-develop:latest

    - stage: Building preCICE
      name: "Ubuntu 18.04.package"
      if: fork = false
      script:
        - docker build -f precice/Dockerfile.Ubuntu1804.package -t $DOCKER_USERNAME/precice-ubuntu1804.package-develop .
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: >-
          echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin &&
          docker push $DOCKER_USERNAME/precice-ubuntu1804.package-develop

    - name: "[Build preCICE on fork] Using cached version"
      if: fork = true
      script: true



    - stage: Building adapters
      name: SU2 adapter
      if: fork = false
      script:
        - docker build -f adapters/Dockerfile.su2-adapter -t $DOCKER_USERNAME/su2-adapter-ubuntu1604.home-develop .
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: >-
          echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin &&
          docker push $DOCKER_USERNAME/su2-adapter-ubuntu1604.home-develop

    - name: CalculiX adapter
      if: fork = false
      script:
        - docker build -f adapters/Dockerfile.calculix-adapter -t $DOCKER_USERNAME/calculix-adapter-ubuntu1604.home-develop .
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: >-
          echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin &&
          docker push $DOCKER_USERNAME/calculix-adapter-ubuntu1604.home-develop

    - name: deal.ii adapter
      if: fork = false
      script:
        - docker build -f adapters/Dockerfile.dealii-adapter -t $DOCKER_USERNAME/dealii-adapter-ubuntu1604.home-develop .
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: >-
          echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin &&
          docker push $DOCKER_USERNAME/dealii-adapter-ubuntu1604.home-develop

    - name: openFOAM adapter
      if: fork = false
      script:
        - docker build -f adapters/Dockerfile.openfoam-adapter -t $DOCKER_USERNAME/openfoam-adapter-ubuntu1604.home-develop .
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: >-
          echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin &&
          docker push $DOCKER_USERNAME/openfoam-adapter-ubuntu1604.home-develop

    - name: "[18.04] openFOAM adapter"
      if: fork = false
      script:
        - docker build -f adapters/Dockerfile.openfoam-adapter.Ubuntu1804 -t $DOCKER_USERNAME/openfoam-adapter-ubuntu1804.home-develop .
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: >-
          echo "$DOCKER_PASSWORD" | docker login -u "precice" --password-stdin &&
          docker push precice/openfoam-adapter-ubuntu1804.home-develop

    - name: FEniCS adapter
      if: fork = false
      script:
        - >
          docker build -f adapters/Dockerfile.fenics-adapter -t $DOCKER_USERNAME/fenics-adapter-ubuntu1804.home-develop
          --build-arg from=$DOCKER_USERNAME/precice-ubuntu1804.home-develop .
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: >-
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin &&
          docker push $DOCKER_USERNAME/fenics-adapter-ubuntu1804.home-develop

    - name: openFOAM adapter [PETSc]
      if: fork = false
      script:
        - >
          docker build -f adapters/Dockerfile.openfoam-adapter -t $DOCKER_USERNAME/openfoam-adapter-ubuntu1604.home.petsc-develop
          --build-arg from=$DOCKER_USERNAME/precice-ubuntu1604.home.petsc-develop .
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: >-
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin &&
          docker push $DOCKER_USERNAME/openfoam-adapter-ubuntu1604.home.petsc-develop

    - name: CalculiX adapter [PETSc]
      if: fork = false
      script:
        - >
          docker build -f adapters/Dockerfile.calculix-adapter -t $DOCKER_USERNAME/calculix-adapter-ubuntu1604.home.petsc-develop
          --build-arg from=$DOCKER_USERNAME/precice-ubuntu1604.home.petsc-develop .
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: >-
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin &&
          docker push $DOCKER_USERNAME/calculix-adapter-ubuntu1604.home.petsc-develop

    - name: "[Build adapters on fork] Using cached version"
      if: fork = true
      script: true



    - stage: Tests
      name: "[16.04] SU2 <-> Calculix"
      script:
        - python system_testing.py -s su2-ccx
      after_failure:
        - python push.py -t su2-ccx
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: python push.py -s -t su2-ccx

    - name: "[16.04] OpenFOAM <-> OpenFOAM"
      script:
        - python system_testing.py -s of-of
      after_failure:
        - python push.py -t of-of
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: python push.py -s -t of-of

    - name: "[16.04] Calculix <-> OpenFOAM"
      script:
        - python system_testing.py -s of-ccx
      after_failure:
        - python push.py -t of-ccx
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: python push.py -s -t of-ccx

    - name: "[18.04] FEniCS <-> FEniCS"
      script:
        - python system_testing.py -s fe-fe --base Ubuntu1804.home
      after_failure:
        - python push.py -t fe-fe --base Ubuntu1804.home
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: python push.py -s -t fe-fe --base Ubuntu1804.home

    - name: "[16.04] Bindings/Solverdummies"
      script:
        - python system_testing.py -s bindings
      after_failure:
        - python push.py -t bindings
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: python push.py -s -t bindings

    - name: "[16.04] deal.ii <-> OpenFOAM"
      script:
        - python system_testing.py -s dealii-of
      after_failure:
        - python push.py -t dealii-of
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: python push.py -s -t dealii-of

    - name: "[18.04] nutils <-> OpenFOAM"
      script:
        - python system_testing.py -s nutils-of --base Ubuntu1804.home
      after_failure:
        - python push.py -t nutils-of --base Ubuntu1804.home
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: python push.py -s -t nutils-of --base Ubuntu1804.home

    - name: "[16.04] OpenFOAM <-> OpenFOAM [nearest projection]"
      script:
        - python system_testing.py -s of-of_np
      after_failure:
        - python push.py -t of-of_np
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: python push.py -s -t of-of_np

    - name: "[16.04 PETSc] OpenFOAM <-> CalculiX [FSI]"
      script:
        - python system_testing.py -s of-ccx_fsi --base Ubuntu1604.home.PETSc
      after_failure:
        - python push.py -t of-ccx_fsi
      deploy:
        skip_cleanup: true
        provider: script
        on:
          all_branches: true
        script: python push.py -s -t of-ccx_fsi
